astroid==2.4.0
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
idna==2.9
isort==4.3.21
jedi==0.17.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
parso==0.7.0
pycparser==2.20
pylint==2.5.0
pyOpenSSL==19.1.0
PySocks==1.7.1
requests==2.23.0
six==1.14.0
toml==0.10.0
urllib3==1.25.8
wrapt==1.11.2
